html {
    font-size: 16px;
}

body {
    color: white; 
    font-family: Verdana;
    background-color: black;
    text-align: center;
}
a {
    color: Aquamarine; 
    font-size: 1rem;
}

h1 {
    font-weight: 300;
    font-size: 2.5rem;
}
div.discover h1{
    font-size: 3.125rem;
}
p {
    color: gray; 
    font-size: 1.3125rem;
}
div.guide p{
    margin-bottom: 30px;
}
div.guide img{
    margin: 30px; 
}
div.copyright {
    text-align: right;
    color: gray; 
    margin-right: 0.75rem;
}